<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><img width="45" src="../../static/img/logo.png"></a>

  <!-- Links -->
  <ul class="navbar-nav ml-auto mr-1">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/shop">Store admin</a>
    </li>
    <li>
      <a class="nav-link" href="/shop_cus">Shop customer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/stock">Stock</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Store Locator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
  </ul>
</nav>