{% extends "base.html" %}
{% block title %}Shopping cart{% endblock %}

{% block head %}
<link rel="stylesheet" href="../../static/css/css.css">
{% endblock %}

{% block content %}
    <p id="margin_center"><span style="font-weight:bold;font-size:20px;">Your shopping cart: </span></p>
    <table id="margin_center" border="">
        <tr>
            <th>No.</th>
            <th id="stretch">Items name</th>
            <th>Quantity</th>
            <th>+ / -</th>
            <th>Total</th>
        </tr>
        {% for item in item_list %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><span style="float:left;">{{ item.get_stock_name() }}</td>
                    <td id="center">{{ item.get_amount() }}</td>
                    <td>
                        <a href="add/{{item.get_id()}}"><button class="btn btn-light"> + </button></a>
                        <a href="minus/{{item.get_id()}}"><button class="btn btn-light"> - </button></a>
                    </td>
                    <td><span style="float:left;">${{ item.get_price() }}</span></td>
                </tr>
        {% endfor %}
        <tr>
            <td colspan="5">Total amount: ${{ price }}</td>
        </tr>
    </table>
    <p id="text_center">Choice of collection :
        <a href="/delivery"><button class="btn btn-light">Delivery</button></a>
        <a href="self-collect"><button class="btn btn-light">Self Collection</button></a>
    </p>
    <a href="clear_cart"><button class="btn btn-danger" style="margin-left: 48%;">Clear cart</button></a>
{% endblock %}