{% extends "base.html" %}
{% block title %}Delivery{% endblock %}

{% block head %}
<link rel="stylesheet" href="../../static/css/css.css">
{% endblock %}

{% block content %}
<div class="delivery">
        <p>Delivery fee is <span style="font-weight:bold;font-size:16px">$3</span>. Free delivery <span style="font-weight:bold;font-size:16px">above $65</span>.</p>
        <form class="calendar" action="" method="POST">
            <label for="Date for delivery">Date for delivery: </label>
            <!--
            <input type="date" name="date">
            -->
            <input type="date" name="date">
            <br>
            <br>
            <p>Total amount will be ${{ total }}</p>
            <!--
            <a href="/order/credit"><button id="CC_button" class="btn btn-light">Credit Card</button></a>
            <a href="/order/debit"><button id="DC_button" class="btn btn-danger">Debit Card</button></a>
            -->
            <input type="submit" value="continue" class="btn btn-light">
        </form>
</div>
{% endblock %}