{% extends "base.html" %}
{% block title %}Shop{% endblock %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="../../static/js/Script.js"></script>
    <link rel="stylesheet" href="static/css/css.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
{% if 'item_created' in session %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('item_created', None) }} was created.
</div>
{% elif 'item_updated' in session %}
<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('item_updated', None) }} was updated.
</div>
{% elif 'item_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('item_deleted', None) }} was deleted.
</div>
{% endif %}
    <div class="flex">
        <div class="flex-colum">
            <h1>Filters</h1>
            <ul class="filter-bar">
                <li>
                    <input id="checkbox_id" type="checkbox" />
                    <label for="checkbox_id">category</label>
                </li>
                <li>
                    <input id="checkbox_id_1" type="checkbox" />
                    <label for="checkbox_id_1">category</label>
                </li>
                <li>
                    <input id="checkbox_id_2" type="checkbox" />
                    <label for="checkbox_id_2">category</label>
                </li>
                <li>
                    <input id="checkbox_id_3" type="checkbox" />
                    <label for="checkbox_id_3">category</label>
                </li>
            </ul>
        </div>
        <div class="flex-colum" style="flex-basis: 1000px">
            <div class="container-fluid">
                <div class="d-flex flex-row ">
                    <form class="p-2 mr-auto" action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name="search">
                        </div>
                    </form>
                    <a class="p-2" href="/create_shop"><img src="../../static/img/plus.png" width="40" height="40"></a>
                    <a class="p-2" id="notification"><img class="icon" src="../../static/img/notification.png" width="40" height="40"></a>
                    <div class="dropdown p-2">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class="shop-item">
                    <img src="../../static/img/food.png" />
                    <h1>Price</h1>
                    <h2>Product</h2>
                    <button class="btn btn-light">Edit</button>
                    <button class="btn btn-light">Delete</button>
                </div>
                    {% for item in item_list %}
                    {% if item.get_stock_left() == 0 %}
                        <div class="shop-item">
                            <img src="../../static/img/uploaded/{{ item.get_stock_name() }}.png" width="200" height="200">
                            <h1>{{ item.get_stock_name() }}</h1>
                            <h2>${{ item.get_base_price() }}</h2>
                            <div class="d-flex">
                                <a class="p-2" href="update_shop/{{ item.get_id() }}"><button class="btn btn-light">Edit</button></a>
                                <form class="p-2" action="{{url_for('delete_stock', id=item.get_id())}}" method="POST">
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{item.get_id()}}">
                              Delete
                            </button>
                            <!-- The Modal -->
                            <div class="modal" id="myModal_{{item.get_id()}}">
                              <div class="modal-dialog">
                                <div class="modal-content">

                                  <!-- Modal Header -->
                                  <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>

                                  <!-- Modal body -->
                                  <div class="modal-body">
                                    Are you sure you want to delete {{item.get_stock_name()}}?
                                  </div>
                                  <!-- Modal footer -->
                                  <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                            </div>
                        </div>
                    {% else %}
                          <div class="shop-item">
                            <img src="../../static/img/uploaded/{{ item.get_stock_name() }}.png" width="200" height="200">
                            <h1>${{item.get_price()}}</h1>
                            <h2>{{item.get_stock_name()}}</h2>
                             <div class="d-flex justify-content-center">
                                <a class="p-2" href="update_shop/{{ item.get_id() }}"><button class="btn btn-light">Edit</button></a>
                                <form class="p-2" action="{{url_for('delete_stock', id=item.get_id())}}" method="POST">
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{item.get_id()}}">
                              Delete
                            </button>
                            <!-- The Modal -->
                            <div class="modal" id="myModal_{{item.get_id()}}">
                              <div class="modal-dialog">
                                <div class="modal-content">

                                  <!-- Modal Header -->
                                  <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>

                                  <!-- Modal body -->
                                  <div class="modal-body">
                                    Are you sure you want to delete {{item.get_stock_name()}}?
                                  </div>
                                  <!-- Modal footer -->
                                  <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
            <div id="popup">
        <div class="flex-notification">
            <div class="flex-notification-row">
                <img src="../../static/img/food.png" width="40" height="40" />
                <div>Name Low on stock. <br />Please restock</div>
            </div>
            <div class="flex-notification-row">
                <img src="../../static/img/food.png" width="40" height="40" />
                <div>Name Low on stock. <br />Please restock</div>
            </div>
            {% for item in item_list %}
            {% if item.get_stock_left() == 0 %}
            <div class="flex-notification-row">
                <img src="../../static/img/uploaded/{{ item.get_stock_name() }}.png" width="40" height="40" />
                <div>{{ item.get_stock_name () }} Low on stock. <br />Please restock</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="mask"></div>
{% endblock %}

{% block scripts %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>{% endblock %}