{% extends "base.html" %}
{% block title %}Shop display{% endblock %}

{% block content %}
<link href="static/css/css.css" rel="stylesheet">
<main class="top-display">
    <div class="d-flex flex-row w-100 h-100">
        <div class="p-5 text-center">
            <img class="p-2 mx-auto" height="344" src="static/img/food.png" width="344">
        </div>
        <div class="p-5">
            <h4>Price</h4>
            <p>Name</p>
            <p>Weight | Brand</p>
            <button class="btn btn-success btn-lg">Add to cart</button>
        </div>
    </div>
</main>
<main class="bottom-display p-5">
    <div>
        <div class="d-flex flex-row justify-content-around">
            <div>
                <h4>Origin</h4>
                <p>Brazil</p>
            </div>
            <div>
                <h4>Ingredients</h4>
                <p>Things</p>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-around">
        <div>
            <h4>Dietary</h4>
            <p>Halal</p>
        </div>
        <div>
            <h4>Description</h4>
            <p>Things</p>
        </div>
    </div>
    </div>
    </div>
</main>
{% endblock %}

