{% extends "base.html" %}
{% block title %}Shop{% endblock %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="../../static/js/Script.js"></script>
    <script src="../../static/js/Add.js"></script>
    <link rel="stylesheet" href="../../static/css/css.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
    <div class="flex" onload="function()">
        <div class="flex-colum">
            <h1>Filters</h1>
            <ul class="filter-bar">
                <li>
                    <input id="checkbox_id" type="checkbox" />
                    <label for="checkbox_id">category</label>
                </li>
                <li>
                    <input id="checkbox_id_1" type="checkbox" />
                    <label for="checkbox_id_1">category</label>
                </li>
                <li>
                    <input id="checkbox_id_2" type="checkbox" />
                    <label for="checkbox_id_2">category</label>
                </li>
                <li>
                    <input id="checkbox_id_3" type="checkbox" />
                    <label for="checkbox_id_3">category</label>
                </li>
            </ul>
        </div>
        <div class="flex-colum" style="flex-basis: 1000px">
            <div class="container-fluid">
                <div class="d-flex flex-row ">
                    <form class="p-2 mr-auto" action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name="search">
                        </div>
                    </form>
                    <a class="p-2" href="/cart"><img src="../../static/img/cart.png" width="40" height="40"></a>
                    <div class="dropdown p-2">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </div>
                </div>
                <div class="shop-item">
                    <img src="../../static/img/food.png" />
                    <h1>Price</h1>
                    <h2>Product</h2>
                    <button class="btn btn-light">Add to cart</button>
                </div>
                <div class="shop-item">
                    <img src="../../static/img/food.png" />
                    <h1>Price</h1>
                    <h2>Product</h2>
                    <button class="btn btn-light disabled">Out of stock</button>
                </div>
                {% for item in item_list %}
                {% if item.get_stock_left() == 0 %}
                    <div class="shop-item">
                        <img src="../../static/img/uploaded/{{ item.get_stock_name() }}.png" width="200" height="200">
                        <h1>{{ item.get_base_price() }}</h1>
                        <h2>{{ item.get_stock_name() }}</h2>
                        <button class="btn btn-light disabled">Out of stock</button>
                    </div>
                {% else %}
                    <div class="shop-item">
                        <img src="../../static/img/uploaded/{{ item.get_stock_name() }}.png" width="200" height="200">
                        <h1>{{ item.get_base_price() }}</h1>
                        <h2>{{ item.get_stock_name() }}</h2>
                        <a href="cart/{{ item.get_id() }}"><button onclick="addToCart({{ item.get_stock_name() }})" type="button" class="btn btn-light">Add to cart</button></a>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <!--
        <div id="popup">
        <div class="flex-notification">
            <div class="flex-notification-row">
                <img src="../../static/img/food.png" width="40" height="40" />
                <div>Name Low on stock. <br />Please restock</div>
            </div>
            {% for item in item_list %}
            {% if item.get_stock_left() == 0 %}
            <div class="flex-notification-row">
                <img src="../../static/img/uploaded/{{ item.get_stock_name() }}.png" width="40" height="40" />
                <div>{{ item.get_stock_name () }} Low on stock. <br />Please restock</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="mask"></div>
    -->
{% endblock %}

{% block scripts %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>{% endblock %}