{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}

{% block content %}
{% for messages in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ messages }}
      </div>
{% endfor %}
<h1 class="display-4">Supplier list</h1>
<div>
  {% if count == 0 %}
  <p>There are no suppliers.</p>
  {% elif count == 1 %}
  <p>There is 1 supplier.</p>
  {% else %}
  <p>There are {{ count }} suppliers.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Supplier ID</th>
        <th>Supplier Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Location</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
      <tr>
        <td>{{ user.get_id() }}</td>
        <td>{{ user.get_name() }}</td>
        <td>{{ user.get_email() }}</td>
        <td>{{ user.get_phone() }}</td>
        <td>{{ user.get_location() }}</td>
        <td>
          <a href="updateSupplier/{{ item.get_id() }}"><button class="btn btn-light">Edit</button></a>
        </td>
        <td>
          <form action="{{url_for('delete_supplier', id=user.get_id())}}" method="POST">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{user.get_id()}}">
                    Delete
                  </button>

                  <!-- The Modal -->
                  <div class="modal" id="myModal_{{user.get_id()}}">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Delete Confirmation</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                          Are you sure you want to delete {{user.get_name()}}?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <input type="submit" value="Delete" class="btn btn-danger">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
